In [1]:
import numpy as np
import pandas as pd 
train_data = pd.read_csv('train.csv')

In [2]:
print(train_data.shape)
train_data.head()

(7613, 5)

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [3]:
test_data = pd.read_csv('test.csv')
print(test_data.shape)
# test_data.head()

(3263, 4)

In [4]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7613 entries, 0 to 7612
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        7613 non-null   int64
 1   keyword   7552 non-null   object
 2   location  5080 non-null   object
 3   text      7613 non-null   object
 4   target    7613 non-null   int64
dtypes: int64(2), object(3)
memory usage: 297.5+ KB

In [5]:
from sklearn import feature_extraction, linear_model, model_selection, preprocessing

In [6]:
!pip install tweet-preprocessor

Requirement already satisfied: tweet-preprocessor in c:\users\hp\anaconda3\envs\tf\lib\site-packages (0.6.0)

In [7]:
train_data = pd.read_csv('train.csv')

In [8]:
train_data.count()

id          7613
keyword     7552
location    5080
text        7613
target      7613
dtype: int64

In [9]:
train_data = train_data.dropna()
train_data = train_data.drop_duplicates()

In [10]:
train_data.count()

id          5080
keyword     5080
location    5080
text        5080
target      5080
dtype: int64

In [11]:
train_data.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,@bbcmtd Wholesale Markets ablaze http://t.co/l...,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy. #metal #RT h...,0
33,50,ablaze,AFRICA,#AFRICANBAZE: Breaking news:Nigeria flag set a...,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0

In [12]:
import preprocessor as p

def preprocess_tweet(row):
    text = row['text']
    text = p.clean(text)
    return text

In [13]:
train_data['text'] = train_data.apply(preprocess_tweet, axis=1)

In [14]:
train_data.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,Wholesale Markets ablaze,1
32,49,ablaze,Est. September 2012 - Bristol,We always try to bring the heavy.,0
33,50,ablaze,AFRICA,: Breaking news:Nigeria flag set ablaze in Aba.,1
34,52,ablaze,"Philadelphia, PA",Crying out for more! Set me ablaze,0
35,53,ablaze,"London, UK",On plus side LOOK AT THE SKY LAST NIGHT IT WAS...,0

In [15]:
pip install gensim

Requirement already satisfied: gensim in c:\users\hp\anaconda3\envs\tf\lib\site-packages (3.8.3)
Requirement already satisfied: scipy>=0.18.1 in c:\users\hp\anaconda3\envs\tf\lib\site-packages (from gensim) (1.5.2)
Requirement already satisfied: numpy>=1.11.3 in c:\users\hp\anaconda3\envs\tf\lib\site-packages (from gensim) (1.19.2)
Requirement already satisfied: smart-open>=1.8.1 in c:\users\hp\anaconda3\envs\tf\lib\site-packages (from gensim) (4.0.1)
Requirement already satisfied: six>=1.5.0 in c:\users\hp\anaconda3\envs\tf\lib\site-packages (from gensim) (1.15.0)
Requirement already satisfied: Cython==0.29.14 in c:\users\hp\anaconda3\envs\tf\lib\site-packages (from gensim) (0.29.14)
Note: you may need to restart the kernel to use updated packages.

In [16]:
from gensim.parsing.preprocessing import remove_stopwords

def stopword_removal(row):
    text = row['text']
    text = remove_stopwords(text)
    return text

In [17]:
train_data['text'] = train_data.apply(stopword_removal, axis=1)

In [18]:
train_data.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,Wholesale Markets ablaze,1
32,49,ablaze,Est. September 2012 - Bristol,We try bring heavy.,0
33,50,ablaze,AFRICA,: Breaking news:Nigeria flag set ablaze Aba.,1
34,52,ablaze,"Philadelphia, PA",Crying more! Set ablaze,0
35,53,ablaze,"London, UK",On plus LOOK AT THE SKY LAST NIGHT IT WAS ABLAZE,0

In [19]:
train_data['text'] = train_data['text'].str.lower().str.replace('[^\w\s]',' ').str.replace('\s\s+', ' ')
train_data.head()

,id,keyword,location,text,target
31,48,ablaze,Birmingham,wholesale markets ablaze,1
32,49,ablaze,Est. September 2012 - Bristol,we try bring heavy,0
33,50,ablaze,AFRICA,breaking news nigeria flag set ablaze aba,1
34,52,ablaze,"Philadelphia, PA",crying more set ablaze,0
35,53,ablaze,"London, UK",on plus look at the sky last night it was ablaze,0

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

tweets = train_data['text']
vectorizer = TfidfVectorizer(stop_words='english')

# Learn vocabulary from sentences. 
vectorizer.fit(tweets)

# Get vocabularies.
vectorizer.vocabulary_

{'wholesale': 10137,
 'markets': 5661,
 'ablaze': 157,
 'try': 9567,
 'bring': 1233,
 'heavy': 4241,
 'breaking': 1210,
 'news': 6246,
 'nigeria': 6264,
 'flag': 3504,
 'set': 8187,
 'aba': 143,
 'crying': 2184,
 'plus': 6976,
 'look': 5464,
 'sky': 8421,
 'night': 6270,
 've': 9839,
 'built': 1300,
 'hype': 4492,
 'new': 6238,
 'acquisitions': 197,
 'doubt': 2720,
 'epl': 3079,
 'season': 8097,
 'inec': 4660,
 'office': 6435,
 'abia': 154,
 'lord': 5478,
 'check': 1622,
 'awesome': 741,
 'time': 9334,
 'visiting': 9918,
 'cfc': 1564,
 'head': 4206,
 'ancop': 448,
 'site': 8389,
 'thanks': 9247,
 'tita': 9355,
 'vida': 9882,
 'taking': 9096,
 'care': 1466,
 'west': 10094,
 'burned': 1322,
 'thousands': 9289,
 'wildfires': 10155,
 'california': 1395,
 'retainers': 7690,
 'weird': 10084,
 'better': 972,
 'wear': 10057,
 'single': 8369,
 'year': 10344,
 'deputies': 2452,
 'man': 5607,
 'shot': 8293,
 'brighton': 1231,
 'home': 4363,
 'wife': 10149,
 'years': 10345,
 'jail': 4868,
 'setting': 8191,
 'niece': 6262,
 'santa': 7981,
 'cruz': 2182,
 'st': 8709,
 'elizabeth': 2955,
 'police': 6998,
 'superintendent': 8964,
 'lanford': 5205,
 'salmon': 7946,
 'arsonist': 609,
 'deliberately': 2396,
 'black': 1046,
 'church': 1692,
 'north': 6310,
 'carolinaablaze': 1483,
 'noches': 6291,
 'el': 2927,
 'bestia': 962,
 'happy': 4148,
 'teammates': 9158,
 'training': 9472,
 'hard': 4155,
 'goodnight': 3923,
 'gunners': 4067,
 'trampling': 9476,
 'turkmen': 9597,
 'later': 5225,
 'vandalized': 9828,
 'offices': 6438,
 'truck': 9554,
 'r21': 7346,
 'voortrekker': 9940,
 'ave': 720,
 'outside': 6590,
 'tambo': 9109,
 'intl': 4769,
 'cargo': 1474,
 'section': 8112,
 'hearts': 4235,
 'city': 1713,
 'gift': 3846,
 'skyline': 8424,
 'like': 5362,
 'kiss': 5103,
 'lips': 5388,
 'tonight': 9394,
 'los': 5482,
 'angeles': 460,
 'expecting': 3218,
 'ig': 4537,
 'fb': 3362,
 'filled': 3444,
 'sunset': 8956,
 'shots': 8295,
 'know': 5125,
 'peeps': 6786,
 'progressive': 7188,
 'greetings': 3998,
 'month': 6016,
 'students': 8878,
 'pens': 6798,
 'torch': 9409,
 'publications': 7260,
 'rene': 7598,
 'amp': 432,
 'jacinta': 4856,
 'secret': 8109,
 'k13': 5002,
 'fallen': 3302,
 'skies': 8411,
 'edit': 2899,
 'mar': 5640,
 'steve': 8782,
 'fires': 3485,
 'tinderbox': 9346,
 'clown': 1780,
 'hood': 4386,
 'ian': 4504,
 'buff': 1288,
 'magnitude': 5578,
 'huge': 4447,
 'talk': 9103,
 'don': 2699,
 'work': 10243,
 'kids': 5077,
 'cuz': 2235,
 'got': 3938,
 'bicycle': 986,
 'accident': 176,
 'split': 8663,
 'testicles': 9221,
 'impossible': 4599,
 'michael': 5845,
 'father': 3348,
 '24': 55,
 'traffic': 9463,
 'moving': 6078,
 'slower': 8462,
 'usual': 9792,
 'center': 1550,
 'lane': 5202,
 'blocked': 1081,
 '101': 16,
 'nb': 6192,
 'great': 3985,
 'america': 420,
 'pkwy': 6922,
 'summer': 8936,
 'read': 7442,
 'advice': 252,
 'help': 4261,
 'speeding': 8639,
 'causes': 1524,
 'teen': 9174,
 'accidents': 179,
 'car': 1458,
 'tee_': 9173,
 'reported': 7619,
 'motor': 6054,
 'vehicle': 9843,
 'curry': 2218,
 'herman': 4271,
 'rd': 7430,
 'near': 6203,
 'stephenson': 8775,
 'involving': 4797,
 'overturned': 6612,
 'use': 9781,
 'bigrigradio': 999,
 'live': 5404,
 'awareness': 737,
 '77': 111,
 'mile': 5873,
 'marker': 5655,
 'south': 8592,
 'mooresville': 6024,
 'iredell': 4814,
 'ramp': 7391,
 'closed': 1768,
 '18': 39,
 'pm': 6978,
 'knew': 5115,
 'gon': 3914,
 'happen': 4138,
 'cabrillo': 1371,
 'hwy': 4489,
 'magellan': 5569,
 'av': 717,
 'mir': 5923,
 '08': 10,
 '06': 8,
 '15': 31,
 '03': 5,
 '58': 104,
 'congestion': 1956,
 'pastor': 6733,
 'scene': 8039,
 'owner': 6618,
 'range': 7397,
 'rover': 7856,
 'horrible': 4404,
 'past': 6730,
 'sunday': 8946,
 'finally': 3456,
 'able': 158,
 'thank': 9242,
 'god': 3900,
 'overturns': 6613,
 'interstate': 4762,
 'click': 1750,
 'crash': 2110,
 'gt': 4035,
 'sb': 8023,
 'sr': 8699,
 'fyi': 3740,
 'cad': 1373,
 'property': 7216,
 'damage': 2257,
 'nhs': 6255,
 '999': 124,
 'piner': 6897,
 'horndale': 4399,
 'dr': 2739,
 'naayf': 6148,
 'turning': 9601,
 'chandanee': 1586,
 'magu': 5581,
 'mma': 5961,
 'taxi': 9140,
 'rammed': 7390,
 'halfway': 4111,
 'turned': 9599,
 'conf_': 1945,
 'left': 5276,
 'rt': 7864,
 'eddy': 2894,
 'stop': 8806,
 'nh': 6254,
 '3a': 82,
 'delay': 2392,
 'mins': 5916,
 'wpd': 10277,
 '1600': 35,
 'th': 9237,
 'aashiqui': 142,
 'actress': 215,
 'anu': 501,
 'aggarwal': 291,
 'fatal': 3342,
 'suffield': 8924,
 'alberta': 349,
 'backup': 770,
 'blocking': 1082,
 'right': 7747,
 'lanes': 5203,
 'exit': 3204,
 'langtree': 5207,
 'consider': 1971,
 'nc': 6196,
 'alternate': 397,
 'changed': 1589,
 'life': 5344,
 'determine': 2504,
 'options': 6532,
 'financially': 3458,
 'support': 8973,
 'plans': 6939,
 'going': 3909,
 'treatment': 9501,
 'deadly': 2316,
 'motorcycle': 6055,
 'happened': 4140,
 'today': 9371,
 'll': 5416,
 'details': 2501,
 'marinading': 5650,
 'previously': 7140,
 'died': 2549,
 'road': 7786,
 'killed': 5084,
 'explosion': 3238,
 'heard': 4225,
 'leaders': 5254,
 'kenya': 5049,
 'coming': 1865,
 'forward': 3621,
 'comment': 1871,
 'issue': 4840,
 'disciplinary': 2596,
 'measures': 5747,
 'scuf': 8086,
 'ps': 7247,
 'game': 3758,
 'cya': 2237,
 'drive': 2773,
 'effort': 2918,
 'gets': 3830,
 'painful': 6643,
 'win': 10165,
 'roger': 7809,
 'bannister': 812,
 'ir': 4808,
 'icemoon': 4512,
 'aftershock': 278,
 'victory': 9880,
 'bargain': 824,
 'basement': 838,
 'prices': 7142,
 'dwight': 2851,
 'david': 2296,
 'eisenhower': 2925,
 'remembers': 7582,
 'came': 1408,
 'second': 8107,
 'charles': 1608,
 'schulz': 8052,
 'im': 4566,
 'speaking': 8620,
 'xb1': 10323,
 'people': 6800,
 'end': 3018,
 'getting': 3832,
 'harder': 4159,
 'conflict': 1953,
 'glorious': 3886,
 'triumph': 9538,
 'thomas': 9284,
 'paine': 6642,
 'guess': 4048,
 'actually': 218,
 'wants': 9984,
 'free': 3658,
 'tc': 9147,
 'seeing': 8120,
 'issues': 4842,
 'bonus': 1141,
 'minute': 5919,
 'daily': 2251,
 'habits': 4089,
 'improve': 4604,
 'protect': 7226,
 'profit': 7184,
 'global': 3880,
 'financial': 3457,
 'meltdown': 5776,
 'wiedemer': 10147,
 'http': 4441,
 'face': 3269,
 'difficulties': 2559,
 'wrong': 10298,
 'joel': 4932,
 'osteen': 6566,
 'thing': 9271,
 'stands': 8732,
 'dream': 2755,
 'belief': 928,
 'possible': 7041,
 'brown': 1259,
 'praise': 7083,
 'ministry': 5910,
 'tells': 9182,
 'remembering': 7581,
 'die': 2547,
 'best': 961,
 'way': 10036,
 'avoid': 725,
 'trap': 9487,
 'thinking': 9275,
 'lose': 5483,
 'jobs': 4930,
 'tried': 9531,
 'orange': 6536,
 'interrupt': 4757,
 'george': 3823,
 'bernard': 958,
 'shaw': 8241,
 'oyster': 6622,
 'shell': 8248,
 'andrew': 455,
 'carnegie': 1482,
 'experts': 3227,
 'france': 3644,
 'begin': 913,
 'examining': 3171,
 'airplane': 322,
 'debris': 2332,
 'reunion': 7703,
 'island': 4831,
 'french': 3671,
 'air': 313,
 'strict': 8850,
 'liability': 5326,
 'context': 1993,
 'pilot': 6894,
 'error': 3100,
 'common': 1885,
 'component': 1916,
 'aviation': 724,
 'cr': 2097,
 'lifetime': 5349,
 'odds': 6419,
 'dying': 2852,
 'wedn': 10067,
 'family': 3312,
 'members': 5780,
 'osama': 6561,
 'bin': 1014,
 'laden': 5168,
 'ironic': 4819,
 'mhmmm': 5840,
 'gov': 3945,
 'shit': 8269,
 'suspect': 9012,
 'goes': 3905,
 'engine': 3034,
 'wings': 10179,
 '29': 61,
 '07': 9,
 '2015': 47,
 'cessna': 1562,
 'ocampo': 6409,
 'coahuila': 1795,
 'mexico': 5830,
 'july': 4985,
 'men': 5788,
 'including': 4627,
 'state': 8747,
 'government': 3947,
 'official': 6439,
 'wednesday_': 10071,
 'mbataweel': 5724,
 'sent': 8158,
 'coworker': 2094,
 'nudes': 6354,
 'mode': 5972,
 'wreck': 10286,
 'politics': 7006,
 'usama': 9778,
 'ladins': 5170,
 'dead': 2313,
 'naturally': 6182,
 'dtn': 2811,
 'brazil': 1201,
 'exp': 3209,
 'wtf': 10305,
 'believe': 930,
 'eyes': 3262,
 'nicole': 6261,
 'fletcher': 3527,
 'victim': 9875,
 'crashed': 2111,
 'times': 9339,
 'ago': 297,
 'little': 5402,
 'bit': 1031,
 'trauma': 9490,
 'omg': 6485,
 'bro': 1242,
 'phone': 6854,
 'looks': 5468,
 'ship': 8260,
 'terrible': 9209,
 'statistically': 8755,
 'risk': 7770,
 'cop': 2027,
 'crashes': 2112,
 'house': 4430,
 'colombia': 1843,
 'shooting': 8283,
 'drone': 2782,
 'cause': 1522,
 'pilots': 6895,
 'worried': 10260,
 'drones': 2783,
 'esp': 3112,
 'close': 1767,
 'vicinity': 9873,
 'airports': 324,
 'feared': 3372,
 'pakistani': 6652,
 'ambulance': 413,
 'helicopter': 4252,
 'ambulances': 414,
 'cars': 1492,
 'lorry': 5481,
 'leading': 5256,
 'emergency': 2979,
 'services': 8183,
 'boss': 1154,
 'welcomes': 10087,
 'charity': 1607,
 'travelling': 9495,
 'aberystwyth': 153,
 'shrewsbury': 8312,
 'incident': 4618,
 'halt': 4114,
 'shrews': 8311,
 'sprinter': 8683,
 'automatic': 714,
 'frontline': 3694,
 'choice': 1664,
 'lez': 5324,
 'compliant': 1915,
 'ebay': 2883,
 'nanotech': 6164,
 'device': 2521,
 'target': 9120,
 'destroy': 2493,
 'blood': 1086,
 'clots': 1776,
 'hella': 4257,
 'crazy': 2120,
 'fights': 3440,
 'couple': 2078,
 'mosh': 6044,
 'pits': 6915,
 'run': 7888,
 'lucky': 5519,
 'waiting': 9960,
 'nissan': 6279,
 'ok': 6464,
 'need': 6213,
 'medical': 5756,
 'assistance': 649,
 'ems1': 3003,
 'ny': 6375,
 'emts': 3005,
 'petition': 6832,
 '17': 37,
 'hour': 4428,
 'minimum': 5906,
 'wage': 9956,
 'parking': 6703,
 'lot': 5490,
 'said': 7934,
 'johns': 4938,
 'lt': 5513,
 'dog': 2680,
 'thinks': 9276,
 'happening': 4142,
 'hatzolah': 4190,
 'ems': 3002,
 'responding': 7674,
 'dual': 2812,
 'sirens': 8383,
 'and_': 449,
 'walk': 9969,
 'passing': 6727,
 'hate': 4185,
 'episode': 3077,
 'trunks': 9561,
 'annihilated': 475,
 'freiza': 3670,
 'cleanest': 1735,
 'showed': 8306,
 'nigga': 6267,
 'mercy': 5799,
 'shall': 8220,
 'petebests': 6830,
 'dessicated': 2489,
 'laid': 5174,
 'bare': 821,
 'kneel': 5113,
 'uribe': 9768,
 'baseball': 835,
 'hey': 4280,
 'sundowns': 8948,
 'previous': 7139,
 'meeting': 5766,
 'celtic': 1545,
 'improvement': 4606,
 'luka': 5524,
 'alois': 391,
 'trancy': 9477,
 'good': 3918,
 'fella': 3396,
 'sorry': 8574,
 'won': 10228,
 'pulls': 7272,
 'drunk': 2805,
 'driver': 2776,
 'safety': 7931,
 'seconds': 8108,
 'hit': 4330,
 'train': 9470,
 'boom': 1145,
 'country': 2076,
 'entirely': 3059,
 'h_': 4085,
 'britain': 1238,
 'sure': 8985,
 'promised': 7200,
 'israel': 4837,
 'horror': 4407,
 'iran': 4809,
 'nukes': 6362,
 'day': 2302,
 'tryouts': 9572,
 'went': 10092,
 'minus': 5917,
 'fact': 3278,
 'stopped': 8807,
 'quickly': 7339,
 'short': 8291,
 'ball': 795,
 'toenail': 9378,
 'injury': 4691,
 'oryx': 6558,
 'symbol': 9064,
 'arabian': 563,
 'peninsula': 6793,
 'hunters': 4471,
 'nights': 6274,
 'weather': 10059,
 'really': 7458,
 'philip': 6848,
 'thought': 9286,
 'forecast': 3593,
 'seen': 8128,
 'judas': 4976,
 'priest': 7144,
 'rob': 7792,
 'scorpions': 8063,
 'fucking': 3713,
 'place': 6924,
 'astonishing': 657,
 'gig': 3848,
 'officially': 6440,
 'skipping': 8419,
 'hashtag': 4180,
 'reviews': 7716,
 'bummer': 1310,
 'completely': 1912,
 'cech': 1538,
 'paul': 6751,
 'keegan': 5036,
 'alive': 370,
 'exactly': 3167,
 'lesnar': 5308,
 'cena': 1547,
 'match': 5696,
 'summerslam': 8937,
 'brock': 1247,
 'guy': 4078,
 'damascus': 2261,
 'syrian': 9069,
 'army': 592,
 'grinds': 4014,
 'alloosh': 382,
 'gang': 3763,
 'manure': 5635,
 'pile': 6886,
 'fun': 3724,
 'simmons': 8356,
 'bar': 815,
 'camden': 1407,
 'handsome': 4131,
 'apart': 514,
 'juanny': 4975,
 'beisbol': 925,
 'hell': 4255,
 'fraction': 3638,
 'total': 9424,
 'annihilation': 477,
 'destruction': 2499,
 'usa': 9775,
 'annihilating': 476,
 'quarterstaff': 7324,
 'world': 10253,
 'vs': 9946,
 'self': 8138,
 'transformation': 9479,
 'aliens': 367,
 'attack': 676,
 'exterminate': 3254,
 'humans': 4455,
 'tarmade': 9124,
 'tardate': 9118,
 'lanetary': 5204,
 'national': 6175,
 'park': 6702,
 'tonto': 9398,
 'forest': 3594,
 'salt': 7948,
 'river': 7778,
 'wild': 10152,
 'horse': 4410,
 'sign': 8338,
 'share': 8229,
 'save': 8010,
 'horses': 4411,
 'arizona': 584,
 'signatures': 8340,
 'change': 1588,
 'org': 6544,
 'thx': 9316,
 'souls': 8582,
 'punished': 7282,
 'withannihilation': 10199,
 'reject': 7549,
 'laws': 5246,
 'misguided': 5931,
 'false': 3306,
 'prophets': 7219,
 'imprison': 4603,
 'nations': 6177,
 'fueling': 3717,
 'jeb': 4899,
 'christie': 1686,
 'kasich': 5027,
 'hours': 4429,
 'away': 739,
 'allow': 384,
 'sing': 8367,
 'long': 5459,
 'order': 6540,
 'current': 2216,
 'nova': 6338,
 'bookslast': 1144,
 'checked': 1623,
 'tied': 9327,
 'books': 1143,
 'rider': 7741,
 'gonna': 3917,
 'fight': 3435,
 'taylor': 9144,
 'soon': 8565,
 'ohh': 6456,
 'fukurodani': 3720,
 'didn': 2545,
 'survive': 9005,
 'apocalypse': 524,
 'bokuto': 1123,
 'feels': 3390,
 'poor': 7015,
 'boy': 1177,
 'ppor': 7076,
 'child': 1647,
 'august': 697,
 '02pm': 4,
 'red': 7504,
 'zombie': 10417,
 'feel': 3386,
 'pull': 7268,
 'stages': 8722,
 'lol': 5449,
 'gf': 3834,
 'm8': 5546,
 'question': 7333,
 'interpretation': 4755,
 'called': 1398,
 'julie': 4983,
 'version': 9860,
 'romeo': 7824,
 'juliet': 4984,
 'begins': 916,
 'snow': 8508,
 'candylit': 1432,
 'imagine': 4570,
 'sarumi': 7989,
 'fighting': 3439,
 'heart': 4228,
 'conversations': 2014,
 'dad': 2247,
 'bought': 1160,
 'dvd': 2848,
 'science': 8054,
 'doc': 2663,
 'impending': 4586,
 'biblical': 982,
 'comes': 1859,
 'week': 10074,
 'grizzly': 4016,
 'peak': 6773,
 'beginning': 914,
 'dystopian': 2855,
 'movie': 6076,
 'asked': 638,
 'scared': 8031,
 'storm': 8814,
 'cairo': 1382,
 'latest': 5226,
 'photo': 6857,
 'zombies': 10418,
 'enjoyed': 3045,
 'action': 205,
 'titan': 9356,
 'posters': 7049,
 'reminded': 7583,
 'freshly': 3674,
 'clean': 1734,
 'coiffed': 1817,
 'temporary': 9193,
 '300': 64,
 'avysss': 729,
 'armageddon': 588,
 'kill': 5082,
 'flags': 3505,
 'fast': 3338,
 'xp': 10329,
 'reason': 7462,
 'russaky89': 7898,
 'vid': 9881,
 'prod': 7174,
 'bed': 901,
 'wake': 9962,
 'revolution': 7720,
 'start': 8741,
 'series': 8176,
 'beat': 889,
 'hsu': 4440,
 'hao': 4136,
 'just': 4996,
 'flawless': 3517,
 'ben': 943,
 'affleck': 264,
 'girls': 3863,
 'loved': 5501,
 'coat': 1801,
 'hand': 4122,
 'worn': 10259,
 'certainty': 1559,
 'bears': 886,
 'sense': 8155,
 'occasion': 6410,
 'spying': 8691,
 'hidden': 4286,
 'door': 2707,
 'nsa': 6346,
 'data': 2290,
 'mining': 5907,
 'software': 8532,
 'blog': 1084,
 'hyider_ghost2': 4491,
 'fighterdena': 3436,
 'sketch': 8408,
 'based': 836,
 'taste': 9130,
 'luck': 5518,
 'tomorrow': 9390,
 'coefficient': 1812,
 'points': 6991,
 'plz': 6977,
 'history': 4329,
 'justice': 4998,
 'department': 2442,
 'haven': 4194,
 'paid': 6640,
 'income': 4628,
 'tax': 9138,
 'yrs': 10392,
 'vladimir': 9924,
 'putin': 7305,
 'major': 5591,
 'warning': 9995,
 'late': 5223,
 'escape': 3106,
 'kingdom': 5098,
 'heavenly': 4240,
 'rule': 7881,
 'earth': 2867,
 'lets': 5315,
 'goof': 3924,
 'guild': 4052,
 'saunders': 8008,
 'come': 1856,
 'stage': 8720,
 'gaining': 3752,
 'ability': 155,
 'stand': 8728,
 'prepared': 7108,
 'toddler': 9376,
 'library': 5333,
 'collection': 1833,
 'cd': 1535,
 'eep': 2911,
 'yesterday': 10359,
 'saw': 8018,
 'scary': 8036,
 'hail': 4101,
 'sadly': 7924,
 'windows': 10168,
 'reveals': 7709,
 'microsoft': 5854,
 'ethics': 3129,
 'averted': 723,
 'patron': 6748,
 '23': 51,
 'ww1': 10309,
 'blueprint': 1103,
 'extremely': 3259,
 'impressive': 4602,
 'european': 3138,
 'fitba': 3496,
 'till': 9332,
 'christmas': 1687,
 'lee': 5273,
 'comedy': 1857,
 'working': 10248,
 'class': 1730,
 'tories': 9412,
 'prepare': 7107,
 'lights': 5360,
 'isn': 4834,
 'funny': 3731,
 'goofballs': 3925,
 'staff': 8718,
 'pd': 6765,
 'comin': 1864,
 'fingers': 3465,
 'crossed': 2162,
 'aberdeen': 152,
 'eh': 2922,
 'whitewalkers': 10132,
 'slightly': 8451,
 'intrigued': 4771,
 'far': 3325,
 'build': 1293,
 'lead': 5252,
 'friend': 3681,
 'code': 1811,
 'lzktjnox': 5542,
 'salvation': 7955,
 'hosts': 4419,
 'rally': 7387,
 'reconnect': 7492,
 'fathers': 3349,
 'children': 1651,
 'hosting': 4418,
 'school': 8048,
 'rally_': 7388,
 'dogs': 2682,
 'leader': 5253,
 'lion': 5384,
 'hero': 4274,
 'tv': 9606,
 'review': 7714,
 'infantry': 4665,
 'mens': 5790,
 'lume': 5528,
 'dial': 2534,
 'analog': 442,
 'quartz': 7325,
 'wrist': 10290,
 'watch': 10018,
 'sport': 8669,
 'blue': 1101,
 'nylon': 6382,
 'fabric': 3268,
 'rea_': 7432,
 'drayesha4': 2754,
 'ki_': 5065,
 'pick': 6869,
 'fan': 3316,
 'da': 2245,
 'britney': 1240,
 'spears': 8621,
 'lana': 5186,
 'del': 2390,
 'rey': 7723,
 'stony': 8803,
 'jackson': 4862,
 'hope': 4391,
 'leads': 5257,
 'felons': 3397,
 'rejects': 7551,
 'satan': 7993,
 'wwi': 10312,
 'wwii': 10313,
 'japanese': 4885,
 'navy': 6190,
 'military': 5880,
 'japan': 4884,
 'leather': 5267,
 'war': 9985,
 'mido': 5862,
 'potus': 7058,
 'appoints': 545,
 ...}

In [21]:
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer

stopwords = stopwords.words('english')

print(stopwords)

count_vector = CountVectorizer(token_pattern=r'\w{1,}', ngram_range=(1, 2), stop_words = stopwords)

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [34]:
from sklearn.model_selection import train_test_split
X = train_data.text
y = train_data.target
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25)

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

clf = LogisticRegression()
pipe = Pipeline([
    ('count_vector', CountVectorizer()),  
    ('clf', LogisticRegression()) 
])
pipe.fit(X_train,y_train)

Pipeline(steps=[('count_vector', CountVectorizer()),
                ('clf', LogisticRegression())])

In [36]:
from sklearn import metrics
predicted = pipe.predict(X_test)

In [37]:
print("accuracy :",  metrics.accuracy_score(predicted, y_test))

accuracy : 0.75748031496063